# Librerías principales
streamlit==1.40.0
pandas==2.2.3
numpy==1.24.3
plotly==5.24.0
requests==2.32.3

# Librerías para análisis y ML
scikit-learn==1.5.2
ta==0.11.0
xgboost==2.1.1
lightgbm==4.5.0
catboost==1.2.7

# Librerías para IQ Option API
-i https://test.pypi.org/simple/
iqoptionapi==7.1.1
websocket-client==0.58.0

# Otras librerías
plotly==5.24.0
pytz==2024.2
python-dotenv==1.0.1
streamlit-autorefresh==1.0.1
rich<14
markdown-it-py==4.0.0
pygments==2.19.2
mdurl==0.1.2
